# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos
.venv/
venv/
.env

# VS Code
.vscode/

# Datos y outputs (no subir dumps grandes)
data/
raw/
*.parquet
*.csv
*.jsonl

# Power BI (opcional si pesa mucho)
# *.pbix
